@model ProyectoP5.Models.ProductoCRUDModel

@{
    ViewBag.Title = "EditarProducto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("~/Views/Shared/_LayoutEditarCRUD.cshtml")

<section id="content">
    <div class="container">
        <div class="content__header">
            <h2>Actualizar <small>Puede editar aqui</small></h2>
        </div>

        <div class="invoice" style="background-color: #181f23">
            @using (Html.BeginForm("EditarProducto", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style=" color: #fbfbfb">Editar Producto</h4>
                    </div>

                    <div class="modal-body">

                        <div class="card__body">

                            <div class="form-group">
                                @Html.TextBoxFor(model => model.IdProducto, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.IdProducto), disabled = "disable" })
                                @Html.HiddenFor(model => model.IdProducto)
                                <i class="form-group__bar"></i>
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(model => model.MarcaProducto, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.MarcaProducto), required = "required" })
                                <i class="form-group__bar"></i>
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(model => model.ModeloProducto, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.ModeloProducto), required = "required" })
                                <i class="form-group__bar"></i>
                            </div>

                                <div class="form-group form-group--select">
                                    @Html.DropDownListFor(e => e.IdTipoProducto, Model.TipoProducto, "Tipo Producto", new { @class = "form-control", required = "required" })
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.DescripcionProducto, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.DescripcionProducto), required = "required", value = "" })
                                    <i class="form-group__bar"></i>
                                </div>

                                <div class="form-group">
                                    <p>Antigua Foto:</p>
                                     @{
                                        var base64 = Convert.ToBase64String(Model.FotoProducto);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                     }
                                    <img src='@imgSrc' width="200px" height="200px" />
                                        <i class="form-group__bar"></i>
                                </div>

                                <div class="form-group">
                                    <input type="file" name="file" class="fileinput-new" />
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.PrecioUnitario, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.PrecioUnitario), required = "required", type = "number" })
                                    <i class="form-group__bar"></i>
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Cantidad), required = "required", type = "number" })
                                    <i class="form-group__bar"></i>
                                </div>

                                <br>

                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Actualizar</button>
                        <a type="button" class="btn btn-default" href="@Url.Action("AdminCRUD", "Admin")">Cerrar</a>
                    </div>
                </div>
            }
        </div>

    </div>
</section>